body
{
	background-image:url("../Image/02Img.jpg");
	/*background-attachment: scroll;*/
	/*background-attachment: fixed;*/
	background-attachment: local;
}
h1
{
	color: #00F;
	background-color:#202;
	margin-left:30px;
}
p
{
	padding: 0px 40px 0px 40px;
	color: white;
	font-size: 22px;
}