body{background-color:#CCC;}
h1
{
	color: #00F;
	background-color:#202;
	margin-left:30px;
}
#p1 {background-color: rgb(255, 0, 0);}   /* vermelho */
#p2 {background-color: rgb(0, 255, 0);}   /* verde */
#p3 {background-color: rgb(0, 0, 255);}   /* azul */