body{background-color:#CCC;}
h1
{
	color: #00F;
	background-color:#202;
	margin-left:30px;
	font-size: 1.5cm;
}
h2{font-size: 1in;}
h3{font-size: 60px;}
h4{font-size: 72px;}
h5{font-size: 3pc;}
h6{font-size: 20pt;}
p
{
	font-size: 5.5mm;
	padding: 0px 40px 0px 40px
}
#p1 {background-color: rgb(255, 0, 0);}   /* vermelho */
#p2 {background-color: rgb(0, 255, 0);}   /* verde */
#p3 {background-color: rgb(0, 0, 255);}   /* azul */