a:link {
    color: #FF0;
    background-color: #000;
    text-decoration: none;
}
a:visited {
    color: #F0F;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #F00;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: #0F0;
    background-color: transparent;
    text-decoration: underline;
}