table, th, td
{
	border: 3px solid #0FF;
	border-collapse: separate;
	padding: 3px;
	text-align: Center;
	border-spacing: 7px;
	background-color: #0AA;
	font-size: 20px;
	color: white;
	font-weight: 900;
}
td
{
	background-color: #0C5;
	width: 100px;
}
th 
{
	background-color: #0A2;
}