/*
	-Regra CSS
		O CSS tem 3 seções: Seletor, Propriedade e Valor.
			Exemplo: Seletor {Propriedade: Valor}
				Seletor: Ajuda a aplicar o elemento para aplicar o estilo
				Propriedade: São os atributos/tags HTML, transformados em propriedade CSS. Ex.: Color
				Valor: É o que o atributo/tag recebe. Ex.: Red
	-Existem 3 formas de aplicar o CSS no HTML
		1º Estilo Inline: É aplicado direto na Tag.
			Exemplo: <p style="fontsize: lorge; color: red;">TextoAqui</p>
			Vantagem: Melhor opção para formatar individualmente
			Desvantagem: Mais trabalhoso.
		2º Estilo Incorporado: Todo código CSS fica no HEAD
			Exemplo: <style type="text/css"> Comandos </style>
			Vantagem: Todo CSS em um local só, fácil de identificar.
			Desvantagem: Não é cascata, a formatação só é aplicada na página com CSS.
			
		3º Estilo Externo: O arquivo CSS fica separado do HTML, é chamado dentro do HEAD.
			Exemplo: <link rel="stylesheet" type="text/css" href="style.css"/>
			Exemplo2: @import url("style.css")
			Vantagem: Pode ser utilizado em várias páginas, código mais organizado.
			Desvantagem: Até que o código CSS Externo carregar, a página mostrada não será formatada corretamente.
*/

/*p(Seletor); #destaque(id)*/
p#destaque
{
/*
	font (propriedades) sans-serif (valor)
	Antes do : é a propriedade do comando
	Após é o valor
 */
	font-family: sans-serif;
	font-style: italic;
	font-size: 30px;
	text-align: left;
}
p.font
{
	font-size:20px;/*Tamanho da fonte 20 pixels*/
	color: #00ff00;/*Cor do texto: verde*/
	text-align: right; s/*alinhamento do texto:direita*/
}
/*
	Formatação ID são únicas, caso utilize mais de uma vez a função não rodará.
	Para definir um ID é usado o "#"
	Exemplo: p#destaque{Comandos}
	Atributo Class é semelhante ao ID, mas pode ser usado várias vezes
	Para definir uma Class é usado o "."
	Exemplo: p.fonte{comandos}
*/

