a.especial:link{background-color:#B2FF99;text-decoration:none;}
a.especial:visited{background-color:#FFFF85;text-decoration:none;}
a.especial:hover{background-color:#FF704D;text-decoration:underline;}
a.especial:active{background-color:#FF704D;text-decoration:underline;}